@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.body{
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: black;
}
[class*="__container"]{
    max-width: 810px;
    margin: 0 auto;
    line-height: 1.5;
}
.image__container{
    display: block;
}
.text__container,
.header__container,
.main-text__container,
.conclusion__container{
    color: black;
}
.main__container,
.schedule__container{
    color: gray;
}
.header__container{
    font-weight: 900;
    font-size: 46px;
}

.image__container{
    margin-top: 98px;
}
.text__container{
    margin-top: 57px;
}
.main__container{
    margin-top: 27px;
}
.main-text__container,
.text__container{
    font-weight: 700;
    font-size: 20px;
}
.main__container{
    margin-bottom: 28px;
}
.paragraph{
    text-shadow:1px 0px 4px rgba(0, 0, 0, 0.25);
}
.conclusion__container{
    margin-top: 20px;
}

.homework{
    max-width: 450px;
    max-height: 100px;
    overflow: scroll;
    font-size: 37px;
    font-weight: 900;
    text-shadow: 15px 15px 15px purple;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
.experiment{
    border: 16px double red;
    border-radius: 50%;
    overflow: hidden;
    max-width: 250px;
    margin: 0 auto;
    background-color: pink;
    opacity: 0.7;
}
.contain{
    background-color: mediumpurple;
    background-image: url(../image/image.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.lastwork{
    background-image: url(../image/Screenshot_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

}
.inside{
    padding-top: 500px;
    padding-bottom: 500px;
    padding-left: 400px;
    font-size: 70px;
}
.finish{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.finished{
max-width: 100px;
max-height: 100px;
margin: 0 auto;
background-color: aqua;
color: fuchsia;
font-size: 27px;
font-weight: 900;
opacity: 0.3;
}


